@keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.65, 0.65);
  }
}

@keyframes grow {
  from {
    transform: scale(0.65, 0.65);
  }
  to {
    transform: scale(1);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  padding: 0 19px;
  transition: visibility 0s, opacity 0.5s ease-in;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  display: flex;
}

.modal__container {
  position: relative;
  background-color: #ffff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  max-width: 358px;
  min-width: 238px;
  width: 100%;
}

.modal__container_type_preview {
  padding: 0px;
  border-radius: 0px;
  max-width: fit-content;
  max-height: fit-content;
  background-color: transparent;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__text {
  margin: 0;
  padding-top: 10px;
  font-size: 12px;
  line-height: 1.2;
}

.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/close.svg);
  transition: opacity 1s ease;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__heading {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  color: #000;
  margin: 0 0 41px 0;
  transition: font-size 1s ease;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  border-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  /* overflow: hidden; */
  padding-bottom: 13px;
  margin-top: 13px;
}

.modal__input:focus {
  outline-offset: 2px;
}

.modal__input_type_error {
  padding-top: 5px;
}

.modal__input_type_error_visible {
  color: red;
  font-size: 12px;
  border-top: 1px solid #ff0000;
  opacity: 1;
}

.modal__submit {
  width: 100%;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  background-color: #000;
  border-radius: 2px;
  height: 50px;
  transition: font-size 1s ease;
  transition: opacity 1s ease;
  margin-top: 48px;
}

.modal__submit_inactive {
  color: black;
  opacity: 80%;
  background-color: #fff;
  border-color: #000000cc;
}

.modal__submit:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 635px) {
  .modal__container {
    margin: auto;
    padding: 25px 22px;
  }
  .modal__close {
    bottom: calc(100% + 13px);
    left: calc(100% - 30px);
    animation: shrink 1s ease forwards;
  }
  .modal__heading {
    font-size: 18px;
  }
  .modal__submit {
    font-size: 14px;
    height: 46px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 635px) {
  .modal__close {
    animation: grow 1s ease forwards;
  }
}
