@keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.65, 0.65);
  }
}

@keyframes grow {
  from {
    transform: scale(0.65, 0.65);
  }
  to {
    transform: scale(1);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  display: none;
  padding: 0 19px;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  background-color: #ffff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  max-width: 358px;
  min-width: 238px;
  width: 100%;
}

.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../images/close.svg);
  transition: height 1s ease;
  transition: width 1s ease;
  transition: left 1s ease;
  transition: opacity 1s ease;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__heading {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  color: #000;
  margin: 0 0 54px 0;
  transition: font-size 1s ease;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  border: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  overflow: hidden;
  padding-bottom: 13px;
  margin-bottom: 30px;
}

/* .modal__input::placeholder,
.modal__input::-ms-input-placeholder,
.modal__input::-moz-placeholder,
.modal__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.2;
  color: #000;
}

I cannot get the above to render to the browser, it's still being overwritten by the browser settings*/

.modal__button {
  width: 100%;
  padding: 0;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  background-color: #000;
  border-radius: 2px;
  height: 50px;
  transition: font-size 1s ease;
  margin-top: 18px;
}

@media screen and (max-width: 635px) {
  .modal__container {
    margin: auto;
    padding: 25px 22px;
  }
  .modal__close {
    bottom: calc(100% + 13px);
    left: calc(100% - 30px);
    animation: shrink 1s ease forwards;
  }
  .modal__heading {
    font-size: 18px;
  }
  .modal__button {
    font-size: 14px;
    height: 46px;
    margin-top: 15px;
  }
}

@media screen and (min-width: 635px) {
  .modal__close {
    animation: grow 1s ease forwards;
  }
}
